@font-face 
	font-family: R
	src:  url('/f/r.woff') format('woff'),  url('/f/r.ttf') format('truetype'),  url('/f/r.svg') format('svg')
	font-weight: normal
	font-style: normal 

@font-face 
	font-family: I
	src: url('/f/i.woff') format('woff'),   url('/f/i.ttf') format('truetype'),   url('/f/i.svg') format('svg')
	font-weight: normal
	font-style: normal 


em
	font-family: I, sans-serif
	

strong
	font-family: R, sans-serif
	