$purple: #7329b0
$red: #f74552
$dark-purple: #4f007d
$blue: #1a75cf
$green: #66d43d
$yellow: #fff5a1
$black: #24292e
$grey: #414b56
$light-grey: #8c8f91


$size : 3.4em
$transition: 0.3s

$marker-size: $size*5
$scale: 0.2


$z-responsive: 1000

$z-hamburger: 900


$z-marker: 100

$z-layout : 10


@mixin breakpoint($point)
	@if $point == mouse
		@media (min-width: 0)
			@content

	@else if $point == kitten
		@media (min-width: 768px)
			@content

	@else if $point == horse
		@media (min-width: 960px)
			@content

	@else if $point == elephant
		@media (min-width: 1200px)
			@content

