// @font-face 
//   font-family: R
//   src: 	url('/f/r.eot')
//   src: 	url('/f/r.eot?#iefix') format('eot'), url('/f/r.woff') format('woff'),  url('/f/r.ttf') format('truetype'),  url('/f/r.svg') format('svg')
//   font-weight: normal
//   font-style: normal 


@font-face 
  font-family: L
  src: url('/f/l.woff') format('woff'), url('/f/l.ttf') format('truetype'), url('/f/l.svg') format('svg')
  font-weight: normal
  font-style: normal 


// @font-face 
//   font-family: I
//   src: url('/f/i.eot')
//   src: url('/f/i.eot?#iefix') format('eot'),  url('/f/i.woff') format('woff'),   url('/f/i.ttf') format('truetype'),   url('/f/i.svg') format('svg')
//   font-weight: normal
//   font-style: normal 