@mixin line
	display: inline-block
	width: $size
	height: $size/10
	background: $green
	border-radius: 0.1em

#hamburger
	position: absolute
	top: $size 
	right: 0
	line-height: 0
	transform: translate3d(99%, 0, 0)

	padding: ($size - 1em) 1em
	cursor: pointer
	user-select: none
	background-color: $grey
	z-index: $z-hamburger
	> span

		+line
		position: relative
		transition: background 0s $transition ease,  transform $transition ease
		.nav &
			background: transparent

		&:before, &:after
			+line
			position: absolute
			left: 0
			content: ''
			transition: top $transition $transition ease, transform $transition ease
			z-index: $z-hamburger + 1
			.nav &
				top: 0
				transition: top $transition ease, transform $transition $transition ease
				
		&:before
			top: $size/5 
			.nav &
				transform: rotate3d(0,0,1,45deg)
		&:after
			top: -$size/5
			.nav &
				transform: rotate3d(0,0,1,-45deg)
	&:hover
		> span
			transform:  scale(1 + $scale/2)
			.nav &
				transform:  scale(1 - $scale/2)