.marker
	position: absolute
	width: $marker-size
	height: $marker-size
	cursor: pointer
	perspective: 1000
	backface-visibility: hidden
	border-radius: 0.2em
	transform: scale(0.2)
	outline: 1em solid rgba(255,255,255, 0.75)
	z-index: $z-marker
	visibility: hidden
	user-select: none
	&.loaded
		visibility: visible
	&.flyin
		animation: 
			duration: 1000ms
			fill-mode: both
		&:nth-child(4n+1)
			animation: 
				name: bounceInDown

		&:nth-child(4n+2)
			animation: 
				name: bounceInUp

		&:nth-child(4n+3)
			animation: 
				name: bounceInLeft

		&:nth-child(4n+4)
			animation: 
				name: bounceInRight

	img
		width: 100%	

	.overlay, .likes, hr, .author, .info
		display: none
	&:hover
		transform: scale($scale * 1.1)
		z-index: $z-marker + 1
	&.zoomed
		transition: 
			property: transform, -webkit-transform
			timing-function: ease
			duration: $transition			
		outline-width: 0
		overflow: hidden
		transform: scale(1)
		z-index: $z-marker + 2
		.overlay
			display: block
			border: 1em solid rgba(255,255,255, 0.25)
			box-sizing: border-box
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			text-align: center
			font:
				family: L,  sans-serif
			padding: 0 1em
			.info
				display: block
				bottom: 0.25em
				left: 6.65em
				position: absolute				
				//border: 0.125em solid #fff
				//box-sizing: border-box
				width: 1.7em
				height: 1.7em
				border-radius: 50%
				background:
					color: $green
					image: url(../img/info.gif)
					size: cover
					position: center center
				opacity: 0.5
				transition: all $transition ease
				&.close
					opacity: 1
					transform: rotate(-135deg)
					//border-color: rgba(255,255,255,0)
					background:
						image: url(../img/close.gif)
						color: $purple
					&:hover
						background:						
							color: $purple
				&:hover
					opacity: 1
					background:
						color: rgba($green, 1)
		img
			outline: 1px solid white
			transition: all $transition ease
		

	&.detailed				
		img
			
			filter: url("data:image/svg+xml;utf8,<svg height=\'0\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'darkerblur\'><feGaussianBlur in=\'SourceGraphic\' stdDeviation=\'2\'/><feComponentTransfer><feFuncR type=\'linear\' slope=\'0.25\'/><feFuncG type=\'linear\'  slope=\'0.25\' /><feFuncB type=\'linear\'  slope=\'0.25\' /></feComponentTransfer></filter></svg>#darkerblur")
			filter: blur(2px) brightness(0.75)
		.likes, hr, .author
			
			display: block
			animation:
				name: jelly
				duration: 1000ms
				fill-mode: both


		.likes
			&:after
				content: ""
				width: 0.5em
				height: 0.5em
				background:
					image: url(../img/heart.svg)
					position: center center
					size: cover
				line-height: 0
				vertical-align: super
				display: inline-block
		hr
			border-width: 0px
			border-color: rgba(255,255,255, 0.75)
			border-bottom-width: 1px
			margin: 0 auto 0.5em
		.author
			color: white
			margin: 0
			a
				word-break: break-word
