.marker
	position: absolute
	width: 100vmin
	height: 100vmin
	+breakpoint(kitten)
		width: $marker-size
		height: $marker-size
	cursor: pointer
	perspective: 1000
	backface-visibility: hidden
	transform-style: preserve-3d
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-tap-highlight-color: transparent
	transform: scale(0.2)
	outline: 1em solid rgba(255,255,255, 0.75)
	z-index: $z-marker
	visibility: hidden
	user-select: none

	transition: 
		property: transform	
		timing-function: ease
		duration: $transition
	+breakpoint(onlymouse)
		transition-property: all	
	&.loaded
		visibility: visible
	&.flyin
		animation: 
			fill-mode: both
		&:nth-child(4n+1)
			animation: 
				name: bounceInDown

		&:nth-child(4n+2)
			animation: 
				name: bounceInUp

		&:nth-child(4n+3)
			animation: 
				name: bounceInLeft

		&:nth-child(4n+4)
			animation: 
				name: bounceInRight		

		&:nth-child(3n+1)
			animation:
				duration: 1000ms
				delay: 300ms

		&:nth-child(3n+2)
			animation: 
				duration: 1400ms
				delay: 100ms

		&:nth-child(3n+3)
			animation:
				duration: 600ms
				delay: 800ms


	.img
		width: 100%
		height: 100%
		background-position: center center
		background-size: cover
		background-repeat: no-repeat

	.overlay, .likes, hr, .author, .info
		display: none
	&:hover
		transform: scale($scale * 1.1)
		z-index: $z-marker + 1

	&.zoom
		
		outline-width: 0
		z-index: $z-marker + 2	
		.overlay
			display: block
			border-radius: 0.2em
			border: 1em solid rgba(255,255,255, 0.25)
			box-sizing: border-box
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			text-align: center
			font:
				family: L,  sans-serif
			padding: 0 1em
			+breakpoint(onlymouse)
				overflow: hidden
			.info
				display: block
				bottom: 1rem
				left: 1rem
				width: 2rem
				height: 2rem
				+breakpoint(kitten)
					left: -2em
					top: -2em
					width: 2em
					height: 2em
				position: absolute				
				border-radius: 50%
				background:
					color: $green
				backface-visibility: hidden
				transform-style: preserve-3d
				-webkit-tap-highlight-color: rgba(0,0,0,0)
				-webkit-tap-highlight-color: transparent
				user-select: none
				transition: 
					property: transform, background-color
					duration: $transition
					timing-function: ease
				&:before, &:after
					position: absolute
					display: inline-block
					width: 50%
					height: 0.1rem
					left: 25%
					top: 0.95rem
					+breakpoint(kitten)
						height: 0.1em
						top: 0.95em
					content: ""
					background: white
					transform-origin: 50% 50%
				&:after
					transform: rotate3d(0, 0, 1, 90deg)
				&:hover
					transform:  scale(1 + $scale/2)
		
				&.close
					transform: rotate3d(0,0,1,135deg)
					&:hover
						transform:  scale(1 - $scale/2) rotate3d(0,0,1,135deg)
					background:
						color: $purple
		.img
			border-radius: 0.2em
			//transition: all $transition ease
	&.zoomed
		transform: scale(1)	

	&.detailed				
		.img			
			filter: url("data:image/svg+xml;utf8,<svg height=\'0\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'darkerblur\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/><feComponentTransfer><feFuncR type=\'linear\' slope=\'0.5\'/><feFuncG type=\'linear\'  slope=\'0.5\' /><feFuncB type=\'linear\'  slope=\'0.5\' /></feComponentTransfer></filter></svg>#darkerblur")
			//filter: url("data:image/svg+xml;utf8,<svg height=\'0\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'darkerblur\'><feGaussianBlur in=\'SourceGraphic\' stdDeviation=\'2\'/><feComponentTransfer><feFuncR type=\'linear\' slope=\'0.25\'/><feFuncG type=\'linear\'  slope=\'0.25\' /><feFuncB type=\'linear\'  slope=\'0.25\' /></feComponentTransfer></filter></svg>#darkerblur")
			//filter: blur(2px) brightness(0.75)
			filter: grayscale(1) brightness(0.5)
		.likes, hr, .author
			
			display: block
			animation:
				name: jelly
				duration: 1000ms
				fill-mode: both


		.likes
			+breakpoint(onlymouse)
				font-size: 25vmin
			&:after
				content: ""
				width: 0.5em
				height: 0.5em
				background:
					//image: url(../img/heart.svg)
					image: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' x=\'0px\' y=\'0px\' width=\'512px\' height=\'512px\' viewbox=\'0 0 512 512\' enable-background=\'new 0 0 512 512\' xml:space=\'preserve\'><polygon fill=\'%23f74552\' points=\'353.661,51.86 256,113.599 158.339,51.86 50,127.599 50,279.561 256,460.14 462,279.561 462,127.599 \'/></svg>")
					position: center center
					size: cover
				line-height: 0
				vertical-align: super
				display: inline-block
		hr
			border-width: 0px
			border-color: rgba(255,255,255, 0.75)
			border-bottom-width: 1px
			margin: 0 auto 0.5em
		.author
			color: white
			margin: 0
			a
				word-break: break-word
