#search
	.nav &
		transform: translate3d(0, 0, 0) !important
	position: absolute
	top: $size * 4
	right: 0	
	backface-visibility: hidden
	transform-style: preserve-3d
	transform: translate3d($size + 2, 0, 0)
	transition: transform $transition ease-out
	z-index: $z-layout - 1
	
	+breakpoint(mouse)
		width: $size * 7
	+breakpoint(kitten)
		width: $size * 10
	+breakpoint(horse)
		width: $size * 14
	+breakpoint(elephant)
		width: $size * 16
	form 
		height: $size + 2
		line-height: 0
		position: relative
		overflow: hidden
	#s_input
		-webkit-appearance: none
		border: none
		outline: none
		border-radius: 0
		margin: 0
		position: absolute
		top: 0
		display: block
		left: 0			
		width: 100%
		cursor: auto
		box-sizing: border-box
		font:
			size: 1em
			weight: normal
			family: R, sans-serif
		line-height: 1.7em
		height: 100%
		padding:
			left: 1em
			right: 3 * $size
		color: $yellow
		vertical-align: middle	
		background-color: $purple
		&::placeholder
			color: $dark-purple
			vertical-align: top
		&::-webkit-search-cancel-button
			-webkit-appearance: none
	#s_submit
		position: absolute
		display: block
		width: $size + 2
		height: 100%
		display: block		
		right: 0
		padding: 0
		cursor: pointer
		font-size: 1em
		user-select: none
		border-radius: 50%
		backface-visibility: hidden
		transform-style: preserve-3d
		transform: rotate(45deg)
		transition: transform $transition ease-out
		background:
			color: $purple
		-webkit-tap-highlight-color: rgba(0,0,0,0)
		-webkit-tap-highlight-color: transparent
		&:hover
			transform: scale(1 + $scale/2) rotate(45deg)
		&:focus
			outline: 0

		&:before
			position: absolute
			content: ""
			width: 60%
			left: 25%
			height: $size/10
			backface-visibility: hidden
			transform-style: preserve-3d
			background:
				color: $yellow
			top:  ($size + 2 - $size/10) / 2
			//transform: rotate(45deg)
			border-radius: 0.1em
		&:after
			backface-visibility: hidden
			transform-style: preserve-3d
			position: absolute
			content: ""
			width: 40%
			height: 40%
			left: 25%
			top: 30%
			background:
				color: $purple
			border-radius: 50%
			border: solid $size/10 $yellow
			box-sizing: border-box		
	&.open

		transform: translate3d(100%, 0, 0)
			
	&.empty
		#s_submit
			// transform: rotate(135deg)
			// &:hover
			// 	transform: scale(1 - $scale/2) rotate3d(0,0,1,135deg)
			&:before
				left: 20%
			&:after
				border-width: 0
				width: 60%
				left: 20%
				height: $size/10
				background:
					color: $yellow
				top:  ($size + 2 - $size/10) / 2
				transform: rotate3d(0,0,1,90deg)
				border-radius: 0.1em
				
	&.noresults
		#s_input
			background:
				color: $red
		#s_submit
			&:after
				background:
					color: $red
			background:
				color: $red

#search_suggestions
	background-color: $dark-purple
	> p
		padding: 1em
		margin-bottom: 0
		cursor: pointer
		strong
			color: $yellow
		&:hover
			background-color: $yellow
			strong
				color: $grey
		&.selected
			background-color: darken($yellow, 5%)
			strong
				color: $grey

