/* univac admin page */
.ui-tabs-nav {
	border-bottom: 1px solid #ccc;
	height: 27px;
	margin: 20px 0;
	padding: 0;
}

.ui-tabs-nav li {
	display: block;
	float: left;
	margin: 0;
}

.ui-tabs-nav li a {
	padding: 4px 20px 6px;
	font-weight: bold;
}

.ui-tabs-nav li a {
	border-style: solid;
	border-color: #CCC #CCC #F9F9F9;
	border-width: 1px 1px 0;
	color: #A8A8A8;
	text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
	display: inline-block;
	padding: 4px 14px 6px;
	text-decoration: none;
    background-color:#E8E8E8;
	margin: 0 6px -1px 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-nav li.ui-state-active a {
	border-width: 1px;
	color: #464646;
    background-color:#fff;
    border-bottom:none;
}

.ui-tabs-panel {
	clear: both;
}

.ui-tabs-panel h3 {
	font: italic normal normal 24px/29px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	margin: 0;
	padding: 0 0 5px;
	line-height: 35px;
	text-shadow: 0 1px 0 #fff;
}

.ui-tabs-panel h4 {
	font-size: 15px;
	font-weight: bold;
	margin: 1em 0;
}

/*
.wrap h3, .wrap table {
	display: none;
}
*/

.icon-uni {
    float: left;
    height: 34px;
    margin-top: 7px;
    margin-right: 8px;
    margin-bottom: 0pt;
    margin-left: 0pt;
    width: 36px;
    background: transparent  url(images/pointer.png) no-repeat;
}
.rss-container {
    width:600px;
    padding:15px;
    border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}


/* univac breadcrumbs */
.univac-breadcrumbs {
    width:100%;
    float:left;
    display:block;
    position:relative;
    margin:15px 0 35px;
}
.univac-breadcrumbs div {
    width:31%;
    float:left;
    display:inline;
    position:relative;
    padding:4px;
    text-align:center;
    border:1px solid #eee;
    background-color:#F3F3F3;
}
.univac-breadcrumbs div p {
    margin:0;
    padding:0;
    text-align:center;
}
.univac-breadcrumbs div.univac-breadcrumbs-active {
    background-color:#fff;
}
.univac-breadcrumbs div.univac-breadcrumbs-active p {
}
.univac-breadcrumbs div.univac-breadcrumbs-inactive p {
    color:#767676;
}
.univac-breadcrumbs div.univac-breadcrumbs-done p {
    color:#767676;
    text-decoration:line-through;
}

/* univac vacancy form */
#vacancy-form {
    width:100%;
    text-align:left;
}
#univac-form label {
    display:block;
    margin-top:15px;
    font-weight:bold;
    font-size:12px;
}

#univac-form input[type="radio"],#univac-form input[type="checkbox"], #univac-form .radio, #univac-form .checkbox {
    margin:0 5px 0 0;
}
#univac-form input[type="text"], #univac-form input[type="password"], #univac-form textarea, #univac-form .field, #univac-form .area, #univac-form select {
	background:#fafafa;
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
	border:1px solid #ddd;
	color:#888;
    padding:4px;
    width:260px; font-size: 16px;
}
#univac-form select {
    width:270px;
}
p.form-vac-type {
    margin:0 15px 0 0;
    position:relative;
    float:left;
}
p.form-vac-type span {
    font-size:12px;
    font-weight:bold;
    padding:2px 4px;
    color:#fff;
    background-color:#3a87ad;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
#univac-form textarea, .area {
    overflow:auto;
    height:150px;
    width:400px;
}
#univac-form input[type="text"]:focus, #univac-form input[type="password"]:focus, #univac-form textarea:focus, #univac-form select:focus, #univac-form .focus {
    color:#373737;
    outline:none;
}
#univac-form input[type="submit"] {
    display:block;
    margin:15px 0;
}
.payment-link {
    display:block;
}

/* vacancy preview */
.vacancies span {list-style-type: none !important; position: relative !important;}
.vacancies, .vacancies li, .vacancies li p{list-style-type: none !important; background: none !important;}


.vacancy-preview, .vacancy-post {
    width:100%;
    margin-bottom:35px;
}
.vacancy-preview ul.vacancies li.job {padding: 20px; max-width: 690px;}
.vacancy-preview .vacancy-meta p {margin-right: 20px; display: block;}

ul.vacancies {
    padding:0 !important;
    margin:0;
}
ul.vacancies li.job {
    display:block;
width: 98%;
    float:left;
    position:relative;
    margin:0;
padding: 0;
    border-bottom:1px solid #eee;
}

.vac_loop_block {display: block; min-height: 50px;    padding:15px 0 15px; text-decoration: none !important;}
.vac_loop_block:hover {background: #eee !important; color: #000;}
ul.vacancies li.job:hover {background: #eee !important;}

ul.vacancies li.job p {
    margin:0;
    padding:0;
}
ul.vacancies li.job p.vac-cat {
    display:inline;
    float:left;
    width:23%;
    padding:0px 0 0 15px;
}
ul.vacancies li.job p.vac-cat span {
    font-size:12px;
    font-weight:bold;
    padding:2px 4px;
    color:#fff;
    background-color:#3a87ad;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
ul.vacancies li.job p.vac-desc {
    display:inline;
    float:left;
    width:43%;
}
ul.vacancies li.job p.vac-desc span.vac-desc-title,
ul.vacancies li.job p.vac-desc span.vac-desc-title a,
ul.vacancies li.job p.vac-desc span.vac-desc-title a:visited {
    font-weight:bold !important;
    font-size:16px !important;
    display:block !important;
    margin-bottom:0px !important;
    color:#000 !important;
}
ul.vacancies li.job p.vac-desc span.vac-desc-title a:hover {
    text-decoration:underline;
}
ul.vacancies li.job p.vac-desc span.vac-desc-user {
    font-size:12px;
    display:block;
    color:#3a87ad;

}
ul.vacancies li.job p.vac-city {
    display:inline;
    float:left;
    width:17%; margin-left: 20px;
}
ul.vacancies li.job p.vac-city span {
    font-size:12px; color: #999;
}
ul.vacancies li.job p.vac-time {
    display:inline;
    float:left;

    color:#676767;
    font-size:14px;
}
ul.vacancies li.job p.vac-time span {
    color:#999;
    font-size:12px;
}

/* single vacancy page */
.vacancy-header {
    margin:5px 0 20px;
}
h1.vacancy-title {
    font-size:24px;
}
img.vacancy-logo {width: 250px; height: auto;
}
.vacancy-content {
    font-size:14px; line-height: 1.5em;
}

.vacancy-content ul {margin: 0 0 15px 25px;}
.vacancy-meta {
    border-top:1px solid #eee;
    margin: 10px 0;
    padding-top: 10px;
    position:relative;
    display:block; height: 25px;

}
.vacancy-meta div {
    position:relative;
    float:left;
    display:inline;
  margin-right: 20px;
}
.vacancy-meta div p {
    font-size:12px;
    color:#676767;
    margin:0;
}
.vacancy-meta div p.v_cat a, .vacancy-meta div p.v_cat a:visited {
    font-size:12px;
    font-weight:bold;
    padding:2px 4px;
    color:#fff;
    background-color:#3a87ad;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px; text-decoration: none;
}
.vacancy-meta div.vac_count {position:relative;float:right;display:inline;font-size: 12px;color: #676767;}
.rand_vac_cat {color: #fff !important; background-color:#3a87ad; margin: -5px 0 10px; display: block; font-size:12px; font-weight:bold; padding:2px 4px; text-decoration: none;}
.vacancy-meta div p.v_cat a:hover {background: #000;}
a.toggle-univac-contact-me {
    position:relative;
    display:block; clear: both;
}
a.toggle-feedback-form.opened {
}
.univac-contact-me {background: #EEE; padding: 20px;}
.feedback-form {
    position:relative;
}

/* univac user dashboard */
#vacancy-dashboard {
    width:100%;
    text-align:left;
}
#univac-dashboard-table th,
#univac-dashboard-table td {
    text-align:center;
}
#univac-dashboard-table th.textleft,
#univac-dashboard-table td.textleft {
    text-align:left;
}
#univac-dashboard-table td.date {
    font-size:12px;
    color:#676767;
}


/* other */
.univac-form-buttons {
    text-align:left;
}
.note, .success, .error {
    padding:8px 35px 8px 14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    width:89%;
}
.note p, .success p, .error p {
    margin:0;
    padding:0;
}
.error {
    background-color:#f2dede;
    border:1px solid #eed3d7;
}
.error p {
    color:#b94a48;
}
.success {
    background-color:#dff0d8;
    border:1px solid #d6e9c6;
}
.success p {
    color:#468847;
}
.note {
    background-color:#d9edf7;
    border:1px solid #bce8f1;
}
.note p {
    color:#3a87ad;
}
.blink {
    background:#ececec;
    background:-moz-linear-gradient(top, #ececec 0%, #dadada 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#dadada));
    background:-webkit-linear-gradient(top, #ececec 0%,#dadada 100%);
    background:-o-linear-gradient(top, #ececec 0%,#dadada 100%);
    background:-ms-linear-gradient(top, #ececec 0%,#dadada 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dadada',GradientType=0 );
    background:linear-gradient(top, #ececec 0%,#dadada 100%);
    border:1px solid #ababab;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    box-shadow:0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset;
    color:#707070;
    font-family:Arial, Tahoma, sans-serif;
    font-size:12px;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
    margin:0;
    outline:none;
    padding:5px 10px;
    text-align:center;
    text-decoration:none;
}
.blink:hover {
    background:#f6f6f6;
    background:-moz-linear-gradient(top, #f6f6f6 0%, #eeeeee 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eeeeee));
    background:-webkit-linear-gradient(top, #f6f6f6 0%,#eeeeee 100%);
    background:-o-linear-gradient(top, #f6f6f6 0%,#eeeeee 100%);
    background:-ms-linear-gradient(top, #f6f6f6 0%,#eeeeee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eeeeee',GradientType=0 );
    background:linear-gradient(top, #f6f6f6 0%,#eeeeee 100%);
    cursor:pointer;
    text-decoration:none;
}


/* clearfix */
.clear {
    clear:both;
}

#type_2915 span, #type_2915, #rand_cat_2915 {background-color: #ec8a36}
#type_2863 span, #type_2863, #rand_cat_2863 {background-color: #70b05a}

#type_2868 span, #type_2868, #rand_cat_2868 {background-color: #ec8a36}
#type_2943 span, #type_2943, #rand_cat_2943 {background-color: #70b05a}

#type_2872 span, #type_2872{}
#type_2870 span, #type_2870, #rand_cat_2870 {background-color: #c1091c;}
#type_2871 span, #type_2871, #rand_cat_2871 {background-color: #cc0;}


p#type_2915, p#type_2863, p#type_2868, p#type_2943, p#type_2872, p#type_2870, p#type_2871 {background: transparent; margin-right: 20px;}

#city-container {width: 45%; display: inline-block; float: left; clear: both;}
#other-city-container {width: 45%; display: inline-block;}

.vac_cat { display: inline-block; float: left;}
.vac_type {width: 45%; display: inline-block; width: 300px;}




.vac-time span {display: block;}
.vac-desc-msg {font-size: 12px; color: #333; line-height: 14px !important; }
.vac-desc-user {}
.vac-desc {margin: 3px 10px; color: #000; font-size: 14px;}
.vac-desc-title {font-size: 16px; font-weight: bold; color: #000;}
.vac-desc-msg ul, .vac-desc-msg ul li {list-style: disc !important;}

#wp-description-wrap {margin: -25px 0 0 0 !important;}
#wp-description-wrap div {margin: 0 !important;}
#wp-description-wrap div a {text-decoration: none;}
#wp-description-wrap textarea.wp-editor-area {width: 100%;}

#wp-description-wrap table.mceToolbar {margin: 0 !important; width: auto !important; padding: 3px;}
#wp-description-wrap table {margin: 0 !important;}
#wp-description-wrap table tr td {padding: 0 !important; margin: 0  !important; border: 0 !important; width: auto !important;}


.about-company, .vac-comp-desc {
    width: 220px;
    display: block;
  font-size: 12px !important;
    padding: 20px 20px 10px;
    float: right;
   margin-left: 10px; overflow: hidden;
}

.vac-comp-desc {padding-top: 0px !important;}
.vac-desc-comp-desc {font-size: 12px !important; margin-bottom: 10px;  }

.vac-salary {font-size: 18px !important;}

.single-univac_vacancy .bottom_soc {margin-top: 30px;}







#loginform {
margin: 20px 0;
width: 300px;
padding: 20px;
font-weight: normal;
background: white;
border: 1px solid #E5E5E5;
-moz-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
-webkit-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
}
#loginform p {
margin-bottom: 0;
}
.login label {
color: #777;
font-size: 14px;
}
#loginform .input {
font-weight: 200;
font-size: 24px;
line-height: 1;
width: 100%;
padding: 3px;
margin-top: 2px;
margin-right: 6px;
margin-bottom: 16px;
border: 1px solid #E5E5E5;
background: #FBFBFB;
outline: none;
-moz-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
}
.loginform .forgetmenot {
font-weight: normal;
float: left;
margin-bottom: 0;}
.submit {
border-color: #DFDFDF;
}input.button-primary, button.button-primary, a.button-primary {
border-color: #298CBA;
font-weight: bold;
color: #fff !important;
background: #21759B url(../images/button-grad.png) repeat-x scroll left top;
text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0; padding: 5px 10px;
}
.backtovac {font-size: 10px; margin: 10px 0 !important; line-height: 25px;}
.infoaboutvac {font-weight: bold; padding: 10px 0 5px;}

#rand_vacancies {margin-bottom: 25px;border-bottom: 1px solid #CCC;padding-bottom: 25px; }
#rand_vacancies h4 {font-size: 16px; font-weight: normal; padding: 5px 0px 13px;/* border-bottom: 1px solid #ccc; */ margin: 0px;}
#rand_vacancies h4 small {display: block; float: right;}
#rand_vacancies ul {list-style: none;}
#rand_vacancies ul li {width: 135px;
display: block; position: relative;
float: left;
margin: 15px 15px 15px 0;
text-align: center;}
#rand_vacancies ul li.last {margin: 15px 0px 15px 0;}
#rand_vacancies ul li a {display: block; color: #000; text-decoration: none;  overflow: hidden; line-height: 1em;}
#rand_vacancies ul li a:hover {background: transparent !important; color: #666;}
#rand_vacancies ul li a strong {line-height: 1.2em; padding-bottom: 3px; font-size: 12px;display: block;height: 27px;overflow: hidden;}
#rand_vacancies ul li a:hover strong {background: #000; color: #fff; opacity: 1;}
#rand_vacancies ul li a span {font-size: 12px; color: #666;}
#rand_vacancies ul li a span.rand_vac_cat {position: absolute; top:0;width: 127px;
}
#rand_vacancies ul li a span.vacc_logo {display: table-cell; padding-top: 15px;
width: 135px;
height: 135px;
background: #eee;
overflow: hidden;
text-align: center;
vertical-align: middle;}
#rand_vacancies .vac-meta-comp {color: #999; font-size: 12px; line-height: 14px !important;}
#rand_vacancies ul li a:hover .vac-meta-comp {color: #ccc;}
#rand_vacancies .vac-logo-img {width: 65px; height: 68px; display: block; float: left;}
#rand_vacancies ul li a img {width: 120px;
max-height: 120px;}
#rand_vacancies ul li a:hover img {opacity: 0.7;}